POSTGRES_DB=comic_reader
POSTGRES_USER=comic_user
POSTGRES_PASSWORD=comic_pass
DB_URL=jdbc:postgresql://postgres:5432/comic_reader
DB_USERNAME=comic_user
DB_PASSWORD=comic_pass
SPRING_PROFILES_ACTIVE=docker
